@model IEnumerable<MvcSimpleBlog.Entities.Concrete.Blog>
@using System.Text.RegularExpressions;
@{
    ViewBag.Title = "Home";
    string ScrubHtml(string value)
    {
        var step1 = Regex.Replace(value, @"<[^>]+>|&nbsp;", "").Trim();
        var step2 = Regex.Replace(step1, @"\s{2,}", " ");
        return step2;
    }
}
@foreach (var item in Model)
{
    <div class="card rounded-0 shadow-sm">
        <div class="card-header">
            <span>By</span>
            <span class="text-success"><a>@item.User.Username</a></span>
            <span>On</span>
            <span class="text-success"> 28 Dec 2018</span>
        </div>
        <div class="card-body">
            <img class="card-img-top" src="@item.Image" alt="@item.Title">
            <hr>
            <h2 class="card-title">@item.Title</h2>

            <p class="card-text">@( ScrubHtml(item.Content).Length > 199 ? ScrubHtml(item.Content).Substring(0, 200) : ScrubHtml(item.Content))</p>
            @Html.ActionLink("Read more", "Details", new { @seoUrl = item.SeoUrl }, new { @class = "btn btn-primary" })
        </div>
    </div>
}