@model IEnumerable<MvcSimpleBlog.Entities.Concrete.Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int page = Request.Url.Segments.Count() > 3 ? int.Parse(Request.Url.Segments[3]) : 1;//Get page value from url. If page value is empty, value = 1
}
<!-- POSTS-->
<section id="posts">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            Categories
                            <a href="@Url.Action("Create", "AdminCategory", new { Area = "admin" })" class="btn btn-secondary">
                                <i class="fas fa-plus-square"></i> New Category
                            </a>
                        </h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>SeoUrl</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.SeoUrl</td>
                                    <td>
                                        <a href="@Url.Action("Details", "AdminCategory", new { Area = "admin" , item.Id})" class="btn btn-secondary">
                                            <i class="fas fa-angle-double-right"></i> Details
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <!--PAGINATION-->
                    <nav class="ml-4">
                        <ul class="pagination">
                            @if (page != 1)
                            {
                                <li class="page-item">
                                    <a href="#" class="page-link">Previous</a>
                                </li>
                            }
                            @for (int i = 1; i <= ViewBag.pageCount; i++)
                            {
                                <li class="page-item@(i == page ? " active" : "")">
                                    <a href="" class="page-link ">@i</a>
                                </li>
                            }
                            @if (page < ViewBag.pageCount)
                            {
                                <li class="page-item">
                                    <a href="" class="page-link">Next</a>
                                </li>
                            }
                        </ul>
                    </nav>
                    <!--END PAGINATION-->
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END POSTS-->