@model IEnumerable<MvcSimpleBlog.Entities.Concrete.User>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int page = Request.Url.Segments.Count() > 3 ? int.Parse(Request.Url.Segments[3]) : 1;//Get page value from url. If page value is empty, value = 1
}
<!-- POSTS-->
<section id="posts">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            Users
                            <a href="@Url.Action("Create", "AdminUser", new { Area = "admin" })" class="btn btn-secondary">
                                <i class="fas fa-plus-square"></i> New User
                            </a>
                        </h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Auth</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Username</td>
                                <td>@item.Email</td>
                                <td>@item.Auth</td>
                                <td>
                                    <a href="@Url.Action("Details", "AdminUser", new { Area = "admin" , item.Id})" class="btn btn-secondary">
                                        <i class="fas fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                    <!--PAGINATION-->
                    <nav class="ml-4">
                        <ul class="pagination">
                            @if (page != 1)
                            {
                                <li class="page-item">
                                    @Html.ActionLink("Previous", "Index", new { page = page - 1 }, new { @class = "page-link" })
                                </li>
                            }
                            @for (int i = 1; i <= ViewBag.pageCount; i++)
                            {
                                <li class="page-item@(i == page ? " active" : "")">
                                    @Html.ActionLink(i.ToString(), "Index", new { page = i }, new { @class = "page-link" })
                                </li>

                            }
                            @if (page < ViewBag.pageCount)
                            {
                                <li class="page-item">
                                    @Html.ActionLink("Next", "Index", new { page = page + 1 }, new { @class = "page-link" })
                                </li>
                            }
                        </ul>
                    </nav>
                    <!--END PAGINATION-->
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END POSTS-->